{% extends 'base.html' %}

{% block title %}
    O autorze
{% endblock %}

{% block content %}
    <div class="card shadow mx-auto mt-4" style="max-width: 1500px; border: 2px solid #000000; border-radius: 10px;">
        <div class="card-body text-center">
            <h3 class="card-title">Dominik Konaszyński</h3>
            <p class="card-text">
            Student informatyki na Uniwersytecie Ekonomicznym w Krakowie. Interesuje się tworzeniem aplikacji webowych, analizą danych oraz automatyzacją procesów z wykorzystaniem języka Python. Projekt Ceneo Web Scraper został stworzony jako część nauki frameworka Flask i ma na celu automatyczne pozyskiwanie oraz analizę opinii użytkowników z portalu Ceneo.pl.
            Projekt ma charakter edukacyjny i rozwijany jest w ramach zdobywania praktycznego doświadczenia w programowaniu, pracy z danymi i tworzeniu aplikacji webowych. Dominik w swojej pracy szczególną uwagę zwraca na przejrzystość kodu, funkcjonalność oraz estetykę interfejsu użytkownika.
            W przyszłości planuje rozwijać swoje kompetencje w obszarach takich jak analiza danych i uczenie maszynowe.
            </p>
            <p class="card-text">
                Kontakt: <a href="mailto:dkonaszynski5@gmail.com">dkonaszynski5@gmail.com</a>
            </p>
        </div>
    </div>
{% endblock %}
